
* {
  margin : 0;
}

button.button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}